---
title: About
layout: default
img: /assets/images/DSC_1812.jpg
---
<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">
				<div class="container clearfix">

					<div class="row col-mb-80 mb-0">

						<div class="col-12">

							<div class="heading-block center border-bottom-0">
								<h2>Skateboarding is for everyone</h2>
								<span>The Alt Route project works to make skateparks accessible for low &amp no vision youth and athletes.</span>
							</div>

							<div class="fslider" data-pagi="false" data-animation="fade">
								<div class="flexslider">
									<div class="slider-wrap">
										<div class="slide"><a href="#"><img src="/assets/images/about2.jpg" alt="About Image"></a></div>
										<div class="slide"><a href="#"><img src="/assets/images/about3.jpg" alt="About Image"></a></div>
										<div class="slide"><a href="#"><img src="/assets/images/about1.jpg" alt="About Image"></a></div>
										<div class="slide"><a href="#"><img src="/assets/images/about4.jpg" alt="About Image"></a></div>
									</div>
								</div>
							</div>

						</div>

					</div>

					<div class="heading-block center">
						<h2>Alt Route Project Founders</h2>
						<span>Our founding members have been the driving force for accessible skateboarding.</span>
					</div>

					<div class="row col-mb-50 mb-0">

						{% for member in site.team %}
                        {% if member.section == "Founder" %}
                        <div class="col-lg-6">
							<div class="team team-list row align-items-center">
								<div class="team-image col-sm-6">
									<img src="{{ member.img }}" alt="{{ member.img_alt }}">
								</div>
								<div class="team-desc col-sm-6">
									<div class="team-title"><h4>{{ member.name }}</h4><span>{{ member.title }}</span></div>
									<div class="team-content">
										<p>{{ member.content }}</p>
									</div>
                                    {% if member.facebook %}
									<a href="{{ member.facebook }}" class="social-icon si-rounded si-small si-light si-facebook">
										<i class="icon-facebook"></i>
										<i class="icon-facebook"></i>
									</a>
                                    {% endif %}
                                    {% if member.twitter %}
									<a href="{{ member.twitter }}" class="social-icon si-rounded si-small si-light si-twitter">
										<i class="icon-twitter"></i>
										<i class="icon-twitter"></i>
									</a>
                                    {% endif %}
                                    {% if member.instagram %}
									<a href="{{ member.instagram }}" class="social-icon si-rounded si-small si-light si-instagram">
										<i class="icon-instagram"></i>
										<i class="icon-instagram"></i>
									</a>
                                    {% endif %}
								</div>
							</div>
						</div>
                        {% endif %}
                        {% endfor %}
					</div>

                    <div class="heading-block center">
						<h2>Alt Route Project Participants</h2>
						<span>Our participants skate hard and give feedback on how to make skateparks better.</span>
					</div>

					<div class="row col-mb-50 mb-0">

						{% for member in site.team %}
                        {% if member.section == "Participant" %}
                        <div class="col-lg-6">
							<div class="team team-list row align-items-center">
								<div class="team-image col-sm-6">
									<img src="{{ member.img }}" alt="{{ member.img_alt }}">
								</div>
								<div class="team-desc col-sm-6">
									<div class="team-title"><h4>{{ member.name }}</h4><span>{{ member.title }}</span></div>
									<div class="team-content">
										<p>{{ member.content }}</p>
									</div>
                                    {% if member.facebook %}
									<a href="{{ member.facebook }}" class="social-icon si-rounded si-small si-light si-facebook">
										<i class="icon-facebook"></i>
										<i class="icon-facebook"></i>
									</a>
                                    {% endif %}
                                    {% if member.twitter %}
									<a href="{{ member.twitter }}" class="social-icon si-rounded si-small si-light si-twitter">
										<i class="icon-twitter"></i>
										<i class="icon-twitter"></i>
									</a>
                                    {% endif %}
                                    {% if member.instagram %}
									<a href="{{ member.instagram }}" class="social-icon si-rounded si-small si-light si-instagram">
										<i class="icon-instagram"></i>
										<i class="icon-instagram"></i>
									</a>
                                    {% endif %}
								</div>
							</div>
						</div>
                        {% endif %}
                        {% endfor %}
					</div>

                    <div class="heading-block center">
						<h2>Alt Route Project Volunteers</h2>
						<span>Our events and project wouldn't be as successful without our volunteers.</span>
					</div>

					<div class="row col-mb-50 mb-0">

						{% for member in site.team %}
                        {% if member.section == "Volunteer" %}
                        <div class="col-lg-6">
							<div class="team team-list row align-items-center">
								<div class="team-image col-sm-6">
									<img src="{{ member.img }}" alt="{{ member.img_alt }}">
								</div>
								<div class="team-desc col-sm-6">
									<div class="team-title"><h4>{{ member.name }}</h4><span>{{ member.title }}</span></div>
									<div class="team-content">
										<p>{{ member.content }}</p>
									</div>
                                    {% if member.facebook %}
									<a href="{{ member.facebook }}" class="social-icon si-rounded si-small si-light si-facebook">
										<i class="icon-facebook"></i>
										<i class="icon-facebook"></i>
									</a>
                                    {% endif %}
                                    {% if member.twitter %}
									<a href="{{ member.twitter }}" class="social-icon si-rounded si-small si-light si-twitter">
										<i class="icon-twitter"></i>
										<i class="icon-twitter"></i>
									</a>
                                    {% endif %}
                                    {% if member.instagram %}
									<a href="{{ member.instagram }}" class="social-icon si-rounded si-small si-light si-instagram">
										<i class="icon-instagram"></i>
										<i class="icon-instagram"></i>
									</a>
                                    {% endif %}
								</div>
							</div>
						</div>                      
                        {% endif %}
                        {% endfor %}
					</div>

				</div>
			</div>
		</section><!-- #content end -->