<section id="slider" class="slider-element slider-parallax swiper_wrapper min-vh-25 min-vh-md-50 include-header">
    <div class="slider-inner">

        <div class="swiper-container swiper-parent">
            <div class="swiper-wrapper">
                <div class="swiper-slide dark">
                    <div class="container">
                        <div class="slider-title slider-caption-left">
                            <h2 data-animate="fadeInUp">{{ page.title }}</h2>
                        </div>
                    </div>
                    <div class="swiper-slide-bg" style="background-image: url('{{ page.img }}'); background-position: center bottom">
                        <div class="video-overlay" style="background-color: rgba(0,0,0,0.55);"></div>
                </div>
            </div>
        </div>

    </div>
</section>